MAPID_API_KEY=your_api_key_here
MAPID_LAYER_ID=your_layer_id_here
MAPID_PROJECT_ID=your_project_id_here
MAP_BASEMAP_URL=https://tiles.openfreemap.org/styles/liberty
MAPID_BASE_URL=https://geoserver.mapid.io
